extend layout 

block content
    h1 New Post
    form( method="POST" action='/new')
        label User: 
            br
            input(
                type='text' 
                name='user'
                maxlength='20' 
                placeholder='max 20'
                required
            )
        br 
        label Text:
            br 
            textarea(
                type='text' 
                id='input-text' 
                name='text' 
                maxlength='150'
                placeholder='max 150'
                required
            )
        br
        button Submit